#box{
    width: 100px;
    height: 100px;
    position: absolute;
    background: white;
    left: 200px;
    top: 200px;
}
body img{
    width: 100px;
    height: 100px;
    background-color: white;
}